/* common classes */
.clear {
  clear: both;
}

/* add profile */
.corner button {
  margin-top: 5px;
}

/* feed */
.card .card-content .poster {
  margin-bottom: 5px;
}
.card .card-content .avatar {
  height: 50px;
  margin-right: 10px;
}
.card .card-content .name {
  font-weight: bold;
  padding-top: 6px;
}
.card .card-action.friend {
  padding: 5px;
}
.card .card-action.friend img {
  border-radius: 50%;
  height: 40px;
}
